@import "../styles/theme";

.fileName {
  color: $orange;
  @include themed {
    background-color: t("base2");
  }
  margin-bottom: -9px;
  padding: 0.4rem 1rem;
  font-style: italic;
  display: block;
  border-radius: 0.3em 0.3em 0 0;
  ::before {
    @include themed {
      color: t("base1");
    }
    content: "FILE: ";
  }
  & + div pre {
    border-radius: 0;
  }

  &:global(.wide-code-block) {
    position: relative;
    width: 150%;
    left: -25%;

    &:global(.profile-open) {
      @media only screen and (max-width: 1600px) {
        width: 125%;
        left: -12.5%;
      }

      @media only screen and (max-width: 1400px) {
        width: 110%;
        left: -5%;
      }

      @media only screen and (max-width: 1300px) {
        width: 100%;
        left: 0;
      }
    }

    &:not(:global(.profile-open)) {
      @media only screen and (max-width: 1200px) {
        width: 125%;
        left: -12.5%;
      }

      @media only screen and (max-width: 1000px) {
        width: 110%;
        left: -5%;
      }

      @media only screen and (max-width: 1000px) {
        width: 100%;
        left: 0;
      }
    }
  }
}
