@import "../styles/theme";

.icon {
  width: 18px;
  height: 18px;
  opacity: 0.6;
  @media only screen and (max-width: 500px) {
    height: 20px;
    width: 20px;
  }
}

.siteTitle {
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0;

  @include themed {
    color: t("base1");
  }

  a {
    @include themed {
      color: t("base1");
    }
    &:hover {
      color: $orange;
    }
    &:focus {
      color: $orange;
    }
  }

  @media only screen and (max-width: 500px) {
    font-size: 24px;
    height: 50px;
    justify-self: right;
  }
}

.circleLink {
  height: 40px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;

  &:focus,
  &:hover {
    outline: none;
    box-shadow: none;

    span {
      height: 28px;
      width: 28px;
    }
    svg,
    a {
      outline: none;
      box-shadow: none;
      color: #000;
      opacity: 1;
    }
  }

  @media only screen and (max-width: 500px) {
    height: 50px;
  }
}

.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 0;
  height: 24px;
  width: 24px;
  @media only screen and (max-width: 500px) {
    height: 28px;
    width: 28px;
  }
}

.red {
  background-color: $red;
}

.yellow {
  background-color: $yellow;
}

.green {
  background-color: $green;
}

.circleContainer {
  display: flex;
  width: 120px;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  padding-left: 4px;
  @media only screen and (max-width: 500px) {
    width: 140px;
  }
}

.rightElems {
  width: 80px;
  display: flex;
  justify-content: space-around;
  margin-right: 1rem;
  align-items: center;
  @media only screen and (max-width: 500px) {
    display: none;
  }
  a {
    font-size: 1.5rem;
  }
  span {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    &:focus,
    &:hover {
      outline: none;
      box-shadow: none;
      opacity: 1;
    }
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.rightIconActive {
  color: $yellow;
}

.headerStyle {
  height: 40px;
  @include themed {
    background-color: t("base2");
  }
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 500px) {
    height: 50px;
    padding-right: 14px;
  }
  width: 100%;
  transition: top 0.3s ease-in-out;
  position: fixed;
  top: -50px;
  z-index: 1;

  &:global(.visible) {
    top: 0;
  }
}
