.space {
  padding: 0 0.3rem;
}

.pictureContainer {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  min-height: 200px;
  margin: 0 auto 1.5rem auto;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 10px 4rem 10px;
  height: 100%;
  font-family: Inconsolata;
  position: fixed;
  overflow-y: scroll;
  transition: padding-top 0.3s ease-in-out;
  padding-top: 0px;
}

.headerVisible {
  padding-top: 20px;
  @media only screen and (max-width: 500px) {
    padding-top: 30px;
  }
}
