$themes: (
  'dark': (
    base3: #002b36,
    base2: #073642,
    base0: #839496,
    base1: #93a1a1,
    base01: #586e75,
    base00: #657b83,
    base02: #eee8d5,
    base03: #fdf6e3,
  ),
  'light': (
    base1: #586e75,
    base0: #657b83,
    base2: #eee8d5,
    base3: #fdf6e3,
    base03: #002b36,
    base02: #073642,
    base00: #839496,
    base01: #93a1a1,
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    :global(.theme--#{$theme}) & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key: 'base0') {
  @return map-get($theme-map, $key);
}

$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;