@import "theme";

tt,
code {
  @include gthemed {
    background-color: t("base2"); /* base3 */
  }
  border-radius: 3px;
  font-family: Inconsolata, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: "";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Inconsolata, Consolas, Monaco, monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  @include gthemed {
    color: t("base1");
  }
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  @include gthemed {
    background: t("base02"); /* base02 */
    color: t("base2");
  }
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  @include gthemed {
    background: t("base02"); /* base02 */
    color: t("base2");
  }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @include gthemed {
    background-color: t("base2"); /* base3 */
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

/* Inline code */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @include gthemed {
    color: t("base00"); /* base1 */
  }
}

.token.punctuation {
  @include gthemed {
    color: t("base0"); /* base01 */
  }
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: $blue; /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: $cyan; /* cyan */
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.namespace {
  opacity: 0.7;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
  @include gthemed {
    color: t("base0"); /* base00 */
    background: t("base2"); /* base2 */
  }
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: $green; /* green */
}

.token.function,
.token.class-name {
  color: $yellow; /* yellow */
}

.token.regex,
.token.important,
.token.variable {
  color: $orange; /* orange */
}
